#navbar {
    width: 10%;
    height: 100%;
    background-color: #2a2a2a;
}

#navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#navbar-menu>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
}

#navbar-menu>ul>li {
    list-style: none;
    /* padding: 0 10px; */
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#navbar-menu>ul>li:hover {
    background-color: #3f3f3f;
}

#navbar-menu>ul>li:hover>a {
    color: blue;
}